{% extends 'base.html.twig' %}
{% block title %}
	Statistique
{% endblock %}

{% block body %}
	<style>
		h1,
		hr,
		.icon {
			color: #05459D;
		}
		h1 {
			border-bottom: 3px solid #05459D;
			padding-bottom: 10px;

		}
	</style>
	<br>
	<h1>
		<span>
			<i class="bi bi-bar-chart-steps"></i>
		</span>Statistique</h1>
	<br>
	<canvas id="graphsg" width="400" height="100"></canvas>

	<script>

		let Missions = document.querySelector("#graphsg")
let Misschart = new Chart(graphsg, {
type: "horizontalBar",
data: {
labels: {{ datessg|raw }},
datasets: [
{
label: "nombre de mission validée",
data: {{ misscountsg|raw }},
backgroundColor: [
"rgba(255, 99, 132, 0.2)",
"rgba(255, 159, 64, 0.2)",
"rgba(255, 205, 86, 0.2)",
"rgba(75, 192, 192, 0.2)",
"rgba(54, 162, 235, 0.2)",
"rgba(153, 102, 255, 0.2)",
"rgba(201, 203, 207, 0.2)"
],
borderColor: [
"rgb(255, 99, 132)",
"rgb(255, 159, 64)",
"rgb(255, 205, 86)",
"rgb(75, 192, 192)",
"rgb(54, 162, 235)",
"rgb(153, 102, 255)",
"rgb(201, 203, 207)"
],
borderWidth: 1

}
]

},
options: {
scales: {
xAxes: [
{
ticks: {
beginAtZero: true,
stepSize: 1
}
}
]
}
}
})
	</script>
	<div class="alert alert-info mt-3" role="alert">
		<h4 class="alert-heading">
			<span>
				<i class="bi bi-lightbulb"></i>
			</span>Remarque</h4>
		<p class="mb-0">
			Ce graphique représente le nombre de missions validées chaque mois de l'année. Comme vous pouvez le voir, l'axe des X indique les mois de l'année, tandis que l'axe des Y affiche le nombre de missions validées.
																					
																					Chaque barre sur le graphique représente le nombre de missions validées au cours d'un mois particulier. La hauteur de chaque barre indique le nombre de missions validées pour ce mois spécifique.</p>
	</div>

{% endblock %}
